@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
	margin: 0;
	padding: 0;

	

}

html {
	overflow: scroll;
	overflow-y: hidden;
	overflow-x: hidden;
}

body {

	background-color: gray;
	font-family: 'Raleway', sans-serif;
}


/* ------NAV BAR------- */


.navbar {

	background-color: black;
	
}

nav ul li {

	list-style: none; 
	display: inline-block;
	padding: 15px;

}

.menu {

		float: right;
	margin-top: -70px;
}

#deb {

	margin-left: 25px;
}




/* -------------------- */



a {

	text-decoration: none;
	color: white;
}


.content {
	background-image: url("postedepolice.png");
padding: 0 0 400px 0;

background-repeat: no-repeat;
background-size: 100% 100%;
font-family: 'Hind Siliguri', sans-serif;
color: white;




}

#scroller {
  width: 100%;
  height: 50px;
  overflow-y: scroll;
  scrollbar-color: rebeccapurple green;
  scrollbar-width: thin;
}

.titre {
		text-align: center;
	font-weight: bold;
	font-size: 35px;



}

.sub-title {
			text-align: center;
	font-size: 25px;


}

.texte {
	font-size: 20px;

	padding: 15px 10px 15px 10px;
}


















/* ---------FIN---------- */

.photo1 {

	width: 35vh;
}

.icon {
	font-size: 35px;
}

.end {

	background-color: black;
	color: white;
	position: fixed;
	bottom: 0;
	padding-right: 100%;



}

.aka {

	margin-left: 15px;
}

.ver {
	font-size: 15px;
}


